[submodule "repos/apt"]
	path = repos/apt
	url = git@github.com:noetl/apt.git
[submodule "repos/cli"]
	path = repos/cli
	url = git@github.com:noetl/cli.git
[submodule "repos/docs"]
	path = repos/docs
	url = git@github.com:noetl/docs.git
[submodule "repos/gateway"]
	path = repos/gateway
	url = git@github.com:noetl/gateway.git
[submodule "repos/gui"]
	path = repos/gui
	url = git@github.com:noetl/gui.git
[submodule "repos/homebrew-tap"]
	path = repos/homebrew-tap
	url = git@github.com:noetl/homebrew-tap.git
[submodule "repos/noetl"]
	path = repos/noetl
	url = git@github.com:noetl/noetl.git
[submodule "repos/noetl.io"]
	path = repos/noetl.io
	url = git@github.com:noetl/noetl.io.git
[submodule "repos/ops"]
	path = repos/ops
	url = git@github.com:noetl/ops.git
[submodule "repos/server"]
	path = repos/server
	url = git@github.com:noetl/server.git
[submodule "repos/tools"]
	path = repos/tools
	url = git@github.com:noetl/tools.git
[submodule "repos/worker"]
	path = repos/worker
	url = git@github.com:noetl/worker.git
[submodule "repos/e2e"]
	path = repos/e2e
	url = git@github.com:noetl/e2e.git
[submodule "references/chatui"]
	path = references/chatui
	url = https://github.com/mlflowio/chatui.git
	update = none
	ignore = all
[submodule "repos/travel"]
	path = repos/travel
	url = git@github.com:noetl/travel.git
[submodule "repos/doctor"]
	path = repos/doctor
	url = git@github.com:noetl/doctor.git
[submodule "repos/glut-probe-design"]
	path = repos/glut-probe-design
	url = https://github.com/kadyapam/glut-probe-design
	update = none
	ignore = all
[submodule "repos/noetl-wiki"]
	path = repos/noetl-wiki
	url = git@github.com:noetl/noetl.wiki.git
[submodule "repos/noetl-ops-wiki"]
	path = repos/noetl-ops-wiki
	url = git@github.com:noetl/ops.wiki.git
[submodule "repos/noetl-travel-wiki"]
	path = repos/noetl-travel-wiki
	url = git@github.com:noetl/travel.wiki.git
[submodule "repos/noetl-gateway-wiki"]
	path = repos/noetl-gateway-wiki
	url = git@github.com:noetl/gateway.wiki.git
[submodule "repos/noetl-cli-wiki"]
	path = repos/noetl-cli-wiki
	url = git@github.com:noetl/cli.wiki.git
[submodule "repos/noetl-doctor-wiki"]
	path = repos/noetl-doctor-wiki
	url = git@github.com:noetl/doctor.wiki.git
[submodule "repos/noetl-e2e-wiki"]
	path = repos/noetl-e2e-wiki
	url = git@github.com:noetl/e2e.wiki.git
[submodule "repos/noetl-gui-wiki"]
	path = repos/noetl-gui-wiki
	url = git@github.com:noetl/gui.wiki.git
[submodule "repos/noetl-apt-wiki"]
	path = repos/noetl-apt-wiki
	url = git@github.com:noetl/apt.wiki.git
[submodule "repos/noetl-worker-wiki"]
	path = repos/noetl-worker-wiki
	url = git@github.com:noetl/worker.wiki.git
	branch = master
[submodule "repos/noetl-tools-wiki"]
	path = repos/noetl-tools-wiki
	url = git@github.com:noetl/tools.wiki.git
	branch = master
[submodule "repos/noetl-server-wiki"]
	path = repos/noetl-server-wiki
	url = git@github.com:noetl/server.wiki.git
	branch = master
[submodule "repos/ai-meta-wiki"]
	path = repos/ai-meta-wiki
	url = git@github.com:noetl/ai-meta.wiki.git
	branch = master
